name: CI - Cypress E2E

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress (Chrome, headless)
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          spec: cypress/e2e/features/cadastro.feature
          

      - name: Upload Cypress artifacts (screenshots / videos / report)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-artifacts
          path: |
            cypress/screenshots
            cypress/videos
            mochawesome-report
          if-no-files-found: ignore
